<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login or Register with google Oauth</title>
</head>
<body>

    <section class="google-btn  d-flex align-items-center justify-content-center pt-4 pb-2">
        <section >
            <h3>Login</h3>
            </section>
        <button>
            <a href="/auth/google">
                <span><img src="images/google.png" alt=""  height="25px" width="25px"></span>
                <span class="px-3 text-primary">Login with Google</span>
            </a>
        </button>
    </section>

    <section class="divider">
        <hr>
        <span>OR</span>
        <hr>
    </section>

    
    <section>
        <section >
            <h3>Register</h3>
            </section>

        <button class="">
            <a  href="/auth/google">
                <span><img src="images/google.png" alt=""  height="25px" width="25px"></span>
                <span class="px-3 text-primary">Register with Google</span>
            </a>
        </button>
    </section>
    

</body>
</html>